::-webkit-scrollbar{
	border: none !important;
	background-color: #fff !important;
	width: 8px !important;
	height: 8px !important;
}
::-webkit-scrollbar-thumb{
	background-color: #BFBFBF !important;
	border: 1px solid #BABABA !important;
}
::-webkit-scrollbar-thumb:hover{
	background-color: #A3A3A3 !important;
	box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
	border: none !important;
}
