! URxvt

! General settings
URxvt.saveLines: 2000
URxvt.scrollBar: False
URxvt.termName: xterm-256color
URxvt.urgentOnBell: True
URxvt.cursorBlink: False
URxvt.cursor: i-beam
! Extensions
URxvt.perl-ext-common: default, matcher, clipboard,keyboard-select
URxvt.urlLauncher: xdg-open
URxvt.urlButton: 1
URxvt.underlineURLs: True

URxvt.copyCommand:  xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard

! Keybindings
URxvt.keysym.Control-c: perl:clipboard:copy
URxvt.keysym.Control-v: perl:clipboard:paste
!URxvt.keysym.Mod4-c: perl:clipboard:copy
!URxvt.keysym.Mod4-v: perl:clipboard:paste
URxvt.keysym.Mod4-C-v: perl:clipboard:paste_escaped
!URxvt.keysym.M-c: perl:clipboard:copy
!URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.C-Escape: perl:keyboard-select:activate
URxvt.boldMode: true
! Fonts
#define termfont      xft:Roboto Mono:bold:pixelsize=15:antialias=false
URxvt.font:           termfont\
            xft:WenQuanYi Bitmap Song:size=8, \
            xft:FreeSerif:style=Regular, \
            xft:unifont:style=Medium:antialias=false
URxvt.boldFont:       termfont
URxvt.italicFont:     termfont
URxvt.boldItalicFont: termfont
URxvt.letterSpace: -1

URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

URxvt.background: #2A303B
URxvt.foreground: #B3BDCB
URxvt.cursorColor: #B3BDCB
URxvt.borderColor: #2A303B

! black
URxvt.color0  : #2A303B
URxvt.color8  : #555753
! red
URxvt.color1  : #DE8990
URxvt.color9  : #D4A49A
! green
URxvt.color2  : #94DAA9
URxvt.color10 : #BAE8D2
! yellow
URxvt.color3  : #DEE7AA
URxvt.color11 : #D7C96B
! blue
URxvt.color4  : #9CDBDF
URxvt.color12 : #6CB4DD
! magenta
URxvt.color5  : #B19CD9
URxvt.color13 : #8C64D8
! cyan
URxvt.color6  : #9AD4C8
URxvt.color14 : #59B0B2
! white
URxvt.color7  : #E1E1E1
URxvt.color15 : #F0F0F0

! XTerm

! General settings
XTerm*termName: xterm-256color
XTerm*geometry: 80x24
XTerm*saveLines: 1024
XTerm*scrollBar: False
XTerm*loginshell: False
XTerm*cursorBlink: False

! Fonts and Encoding
XTerm*utf8: True
XTerm*locale: True
XTerm*utf8Title: True
XTerm*renderFont: True
XTerm*preeditType: Root
XTerm*xftAntialias: true
XTerm*faceName: xft:Roboto Mono Bold-11
Xterm*font: Roboto Mono Bold:pixelsize=12
! Trim trailing spaces
XTerm*trimSelection: true

! Fix alt-key inputting
XTerm*eightBitInput: false
XTerm*metaSendsEscape: true

! Copy and paste with clipboard
XTerm*translations: #override \
    Ctrl <KeyPress> C: copy-selection(CLIPBOARD) \n\
    Ctrl <KeyPress> V: insert-selection(CLIPBOARD)

! Allow selecting email/url by double-click
XTerm*charClass: 33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:48


XTerm*background: #2A303B
XTerm*foreground: #B3BDCB

! black
XTerm*color0  : #2A303B
XTerm*color8  : #555753
! red
XTerm*color1  : #DE8990
XTerm*color9  : #D4A49A
! green
XTerm*color2  : #94DAA9
XTerm*color10 : #BAE8D2
! yellow
XTerm*color3  : #DEE7AA
XTerm*color11 : #D7C96B
! blue
XTerm*color4  : #9CDBDF
XTerm*color12 : #6CB4DD
! magenta
XTerm*color5  : #B19CD9
XTerm*color13 : #8C64D8
! cyan
XTerm*color6  : #9AD4C8
XTerm*color14 : #59B0B2
! white
XTerm*color7  : #E1E1E1
XTerm*color15 : #F0F0F0

