.yt-shelf-grid-item,
.lohp-medium-shelf,
.lohp-large-shelf-container,
.expanded-shelf-content-item-wrapper,
.pl-video-table .pl-video,
.video-list .video-list-item,
.playlist-videos-list > li,
.videowall-still,
.branded-page-related-channels-list .branded-page-related-channels-item,
#results .section-list .item-section > li,
.yt-gb-shelf .yt-gb-shelf-hero {
	visibility: hidden;
}

/* Update Window */

.videoblocker-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 99999999998;
}

.videoblocker-container {
	padding: 100px 0;
	position: absolute;
	width: 100%;
	z-index: 99999999999;
}

.videoblocker-inner {
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin: 0 auto;
	width: 420px;
	padding: 20px;
	border-radius: 5px;
	line-height: 1.4;
}

.videoblocker-inner > h1 {
	font-size: 20px;
	font-weight: 300;
}

.videoblocker-inner > h1 > img {
	vertical-align: top;
	margin-top: -2px;
}

.videoblocker-inner > hr {
	border-bottom: 1px solid #ddd;
	margin: 10px 0;
}

.videoblocker-inner > ul {
	list-style: disc;
	margin: 10px 0 0;
	margin-left: 15px;
}

.videoblocker-inner > ul > li {
	margin: 5px 0;
}