.add-to-bookmarks {
    margin: 0px;
    padding: 0px;
    display: none;
    background: #1F1F1F;
    border: 1px #808080 solid;
}

    .add-to-bookmarks li {
        list-style: none;
        line-height: 24px;
    }

        .add-to-bookmarks li a {
            display: block;
            padding-left: 20px;
        }

            .add-to-bookmarks li a:hover {
                background: #2F2F2F;
            }

.add-to-bookmarks-link {
    background: url(http://store.akamai.steamstatic.com/public/images/v6/icon_bucket_new.png) center left 5px no-repeat;
    padding: 3px 3px 3px 25px;
    margin: 7px 0px;
    display: block;
    border: 1px #808080 solid;
    line-height: 24px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.add-to-bookmarks-container {
    position: absolute;
    top: -28px;
    right: 15px;
    min-width: 180px;
}

    .add-to-bookmarks-container .arrow {
        float: right;
    }

.sih-market-action {
    font-size: .8em;
    color: #666;
}

    .sih-market-action:hover {
        color: #999;
    }
