.tradeoffer {
    margin: 5px;
    padding: 5px;
    clear: both;
    background: #606060;
    color: #FFF;
    cursor: pointer;
    border: #818181;
}

    .tradeoffer a {
        float: left;
        margin-right: 10px;
    }

    .tradeoffer div {
        float: left;
        width: 100%;
        margin-left: -90px;
        padding-left: 90px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
    }

        .tradeoffer div img {
            margin-right: 5px;
        }

        .tradeoffer div.clearer {
            clear: both;
            float: none;
            height: 1px;
        }


        a.decline-bt,
        a.accept-bt
        {
            color:#FF0;
        }

        
        a.decline-bt:hover,
        a.accept-bt:hover
        {
            color:#aaa;
        }