.trade_area {
    position: relative;
}

.right-panel {
    position: absolute;
    top: 10px;
    left: 100%;
    margin-left: 5px;
    width: 180px;
}

.sort {
    padding: 10px;
    margin-bottom: 10px;
    background: linear-gradient( to bottom, #454545, #292929 );
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

    .sort .num {
        width: 100%;
        margin-bottom:5px;
    }

    .sort a {
        display: block;
        margin-bottom: 5px;
        background: linear-gradient( to bottom, #dd0, #333 );
        line-height: 28px;
        padding: 0px 15px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }

    .sort legend {
        padding: 5px 10px;
        font-weight: bold;
        border: #333 1px solid;
        background: #454545;
        font-size: 1.2em;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }

.rep {
    margin-bottom: 10px;
}
