<!DOCTYPE html>
<html class="i-ua_js_no i-ua_css_standard">
    <head>
        <meta charset="utf-8"/>
        <title></title>
        <script src="/api.js"></script>
        <link rel="stylesheet" href="/layout/_common.css"/>
        <link rel="shortcut icon" href="/icons/layout.ico"/>
    </head>
    <body class="b-page__body i-action b-page b-page_pos_absolute i-bem i-queue i-cache" data-bem='{"b-page":{}, "i-action": {}}'>
        <script src="/layout/jquery.js"></script>
        <script src="/layout/ui.js"></script>
    </body>
</html>
