body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 12px;
}
.controls {
  display: block;
  width: 100%;
  height: 20px;
  line-height: 20px;
}
.controls-button,
.controls-block {
  display: inline-block;
  height: 20px;
  background: #fff;
  border: none;
  cursor: pointer;
}
.controls-button:hover,
.controls-block:hover {
  background: #ddd;
}
.controls-button,
.controls-block,
.controls-button:focus,
.controls-block:focus {
  outline: none;
}
.controls-block {
  padding: 0;
  margin: 0;
}
.controls-block > label {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  cursor: pointer;
}
.controls-block input {
  vertical-align: middle;
  cursor: pointer;
}
#content {
  padding: 5px;
}
#content > h2 {
  margin: 0;
}
.event {
  padding: 5px;
}
.event:hover {
  background: #f4f4f4;
}
.event-url {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
}
.event-blur {
  opacity: 0.5;
}
